<div class="card-group h-100 w-100 row no-gutters">
  <div class="card col-3 p-0 h-100">
    <div class="card-header text-center">
      <span class="oi oi-people float-left"></span>
      <span>Utilisateurs</span>
    </div>
    <div class="card-body p-0">
      <ul id="users" class="list-group list-group-flush">
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div class="card-footer p-0">
      <form  id="change-name">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="oi oi-person"></span></span>
          </div>
          <input id="new-name" class="form-control pr-0" placeholder="name">
        </div>
      </form>
    </div>
  </div>
  <div class="card col-9 h-100">
    <div class="card-header text-center">
      <span>Discussion</span>
      <span class="oi oi-comment-square float-right"></span>
    </div>
    <div class="card-body p-0 d-flex flex-column overflow-auto">
      <ul id="messages" class="list-group list-group-flush flex-grow-1 scroll">
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div class="card-footer p-0">
      <form  id="send-message" action="#">
        <div class="form-row mr-0">
          <div class="col pr-1">
            <input id="new-message" class="form-control pr-0" placeholder="Ecrivez votre message">
          </div>
          <div class="col-1 px-0 text-center">
            <button type="button" class="btn btn-light w-100">
              <span class="oi oi-media-play"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
