<div id="players-table">
<div id="scores-table">
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th><a href="/"><span class="oi oi-home"></span></a></th>
      <% game.players.forEach((player) => { %>
        <th><%= player.name %></th>
        <% }); %>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < 8; i++) {%>
      <tr>
        <th scopre="row">
          <%= game.scoresList[i] %>
       </th>
        <% game.players.forEach((player) => { %>
          <td><%= player.scores[i] %></td>
        <% }); %>

      </tr>
    <% }; %>

  </tbody>
</table>
</div>
</div>
