<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Onlinedarts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">


  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6">
        <div id="players-table">
        </div>
      </div>
      <!--Jitsi container -->
      <div id="jitsi-container" class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <!-- Controls-->
        <div class="game-state-0">
          <div class="row">
            <div class="col">
              <form id="new-player" action="" class="form-inline">
                <div class="form-group mb-2">
                <input id="new-player-name" autocomplete="off" class="form-control" placeholder="nouveau joueur"/>
                </div>
                <button class="btn btn-primary mb-2">
                <span class="oi oi-plus" title="plus" aria-hidden="true"></span>
              </button>
              </form>
          </div>
          <div class="col">
            <button id="remove-player" class="btn btn-danger">
              <span class="oi oi-minus" title="plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <hr/>
        <div class="row">
          <button id="start-game" class="btn btn-success btn-lg ">
            <span class="oi oi-media-play" title="plus" aria-hidden="true"></span> Commencer la partie
          </button>
        </div>
      </div><!-- game-state-0 -->

      <div class="game-state-2 row">
          <div class="col-4">
            <div id="volee-preview-card" class="card">
              <div class="card-header">Volée de <span id="active-player-name"></span></div>
              <ul id="volee-preview-list" class="list-group list-group-flush">
                <li class="list-group-item">Fromage?</li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div>
              <button class="btn btn-success btn-lg" id="valide-volee">
                <span class="oi oi-check" title="Valider" aria-hidden="true"></span> Valider
              </button>
              <button class="btn btn-danger btn-xs float-right" id="cancel-volee">
                <span class="oi oi-action-undo" title="Annuler" aria-hidden="true"></span>
              </button>
            </div>
            <div>
              <button class="btn btn-warning btn-xs mt-3" id="fromage">
                <span class="oi oi-trash" title="fromage" aria-hidden="true"></span> Fromage!
              </button>
            </div>
          </div>
          <div class="col">
            <ul id="volees" class="list-group"></ul>
          </div>


      </div><!-- game-state-2 -->
    </div><!-- col-md-6 -->
    <div class="col-md-6">
      <div id="alert" class="alert alert-info text-center">
        truc
      </div>
    </div>
      </div><!-- row -->


  </div><!-- container-fluid -->



    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/ejs.min.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script type="text/javascript">
        var templates = <%- JSON.stringify(templates) %>; // Get templates object
    </script>

    <script>
    var game = <%- JSON.stringify(game) %>;
    // volle est une liste de longueur <= 3
    // [{numeroTape: 18, combo: 2},{numeroTape:B, combo:1}] sera un double 18 suivie d'une verte
    var volee = []


    var refreshForGameState = function(){
      // On cache/affiche les élèments en fonction du game_state
      if (game.state == 0){
        $('.game-state-0').show();
        $('.game-state-1').hide();
        $('.game-state-2').hide();
        $('.game-state-3').hide();

      }
      else if (game.state == 2) {
        $('.game-state-0').hide();
        $('.game-state-1').hide();
        $('.game-state-2').show();
        $('.game-state-3').hide();

      }
      else if (game.state == 3) {
        $('.game-state-0').hide();
        $('.game-state-1').hide();
        $('.game-state-2').hide();
        $('.game-state-3').show();
      }
    }

    var refresPlayersTable = function(){
      //recharge le tableau principal avec les nouvelles données
      if (game.state == 0){
        template = templates.tableState0
        var html = ejs.render(template, { game: game });
        $('#players-table').html(html);
      }
      if (game.state == 2){
        template = templates.tableState2
        var html = ejs.render(template, { game: game });
        $('#players-table').html(html);

        var activePlayerName = game.activePlayer.name
        $('.player-'+ activePlayerName + '-cell').addClass('table-active')
        $('#active-player-name').html(game.activePlayer.name);
      }
    }

  var refreshVolees = function(){
    var html = ""
    for (var i = game.volees.length - 1; i >= 0; i--) {
      var v = game.volees[i]
      var round = i + 1
      html += '<li class="list-group-item">' + round + '. ' + v.playerName + ': ';
        v.volee.forEach((dart) => {
          html += dart.combo + ' x ' + game.scoresList[dart.numeroTape] + ' '
        });
        html +='</li>'
    }
    $('#volees').html(html)
  }


    var updateVoleePreview = function(volee){
      // met à jour le résumé de la volée
      var html = ""
      volee.forEach((dart) => {
          html += '<li class="list-group-item">' + dart.combo + ' x ' + game.scoresList[dart.numeroTape] + '</li>'
      });
      if (html == ""){
        // volée vide!
        html = '<li class="list-group-item">Fromage?</li>'
      }
      $('#volee-preview-list').html(html)
      // Si la volee à plus de 3 lancés, on ajoute la classe warning
      if (volee.length > 3){
        $('#volee-preview-card').addClass("border-warning")
          $('#valide-volee').prop("disabled", true);
          $('#valide-volee').removeClass("btn-success")
          $('#valide-volee').addClass("btn-secondary")
      }
      else{
        $('#volee-preview-card').removeClass("border-warning")
        if (volee.length >0){
          $('#volee-preview-card').addClass("border-success")
        }
        $('#valide-volee').prop("disabled", false);
        $('#valide-volee').addClass("btn-success")
        $('#valide-volee').removeClass("btn-secondary")
      }

    }

var DartButtonsclick = function(el){
        // le nombre initial de fois qu'il a tapé la zone dans ce volee
        var n_initial = $(el).data("n")
        // le numéro tapé
        var numeroTape = $(el).data("value")
        // simple? double? triple!
        var combo = $(el).data("combo")
        var dart = {numeroTape: numeroTape, combo: combo}
        // si il a déja tapé 3 fois le machin, on remet à 0
        if (n_initial == 3){
          $(el).html("&nbsp;")
          $(el).data("n", 0)
          // enlève tous les numeroTape x combo de la volee
          volee = volee.filter(l => (l.numeroTape !== numeroTape) || (l.combo !== combo) );
          updateVoleePreview(volee)
          return false
        }

        volee.push(dart)
        // met à jour le bouton
        $(el).data("n", n_initial +1)
        $(el).html(n_initial +1)
        updateVoleePreview(volee)

      };

    $(function () {
      refreshForGameState();
      var socket = io();


      $('#new-player').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('new-player', $('#new-player-name').val());
        $('#new-player-name').val('');
        return false;
      });

      $('#remove-player').click(function(e){
        socket.emit('remove-player');
        return false;
      });

      $('#start-game').click(function(e){
        socket.emit('start-game');
        return false;
      });
      $('#valide-volee').click(function(e){
        socket.emit('valide-volee', volee);
        return false;
      });

      $('#cancel-volee').click(function(e){
        socket.emit('cancel-volee');
        return false;
      });
      socket.on('change-players', function(game_from_server){
        game = game_from_server;
        $('#alert').html(game.alert)
        refresPlayersTable()
      });

      socket.on('change-game-state', function(game_from_server){
        game = game_from_server;
        volee = []
        updateVoleePreview(volee)
        $('#alert').html(game.alert)
        refresPlayersTable()
        refreshForGameState()
      });

      socket.on('update-game', function(game_from_server){
        game = game_from_server;
        volee = []
        updateVoleePreview(volee)
        $('#alert').html(game.alert)
        refresPlayersTable()
        refreshForGameState()
        refreshVolees()
      });

    });
  </script>
  <script>
    //https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md
    var domain = "meet.jit.si";
    var options = {
      roomName: "onlinedarts",
      width: "100%",
      //height: "auto",
      parentNode: document.getElementById("jitsi-container"),
      configOverwrite: {},
      interfaceConfigOverwrite: {
        TOOLBAR_BUTTONS: [
          'microphone', 'camera', 'closedcaptions', 'fullscreen',
          'fodeviceselection', 'profile', 'chat', 'settings',
          'videoquality', 'filmstrip', 'tileview',
        ],
      }
  }
  var api = new JitsiMeetExternalAPI(domain, options);
  </script>
  </body>
</html>
