button:disabled {/* https://github.com/twbs/bootstrap/issues/16088 */
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Layout */
.application-container {
  height: 100vh;
}

/* Application elements */
#volees {
  overflow-y: auto;
  max-height: 150px;
}

#players-table {
  font-size:240%;
  text-align: center;
}

.dart-button {
  width:80%;
 font-size: 1.5rem;
}

#volees > li {
  padding-left: 0px;
}

#alert {
    font-size: 2.5vw;
}

.room-card-footer {
  font-size: :80%;
  margin-top: -16px;
}
#jitsi-container{
  margin-bottom: 16px;
}

li >.alert{
  padding: 15px 5px 15px 5px;
}

#chat{
  height: 200px;
}
#chat > .card-group{
  height: 100%;
}
#messages{
  overflow-y: scroll;
}
/* split.js */
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.split.split-horizontal, .gutter.gutter-horizontal {
 /* this should be 100% but it would set the height to 0 in room template.
  Works in home template. No clue :( */
  height:300px;
  float: left;
}
