button:disabled {/* https://github.com/twbs/bootstrap/issues/16088 */
  cursor: not-allowed;
  pointer-events: all !important;
}

#volees{
  overflow-y: auto;
  max-height: 150px;
}

#players-table{
  font-size:240%;
  text-align: center;
}
.dart-button{
  width:80%;
 font-size: 1.5rem;
}

#volees > li{
  padding-left: 0px;
}

#jitsi-container{
  margin-bottom: 16px;
}
#alert{
  font-size: 200%;
}
#jitsi-connect-button{
  margin-top:300px;
}
.room-card-footer{
  font-size: :80%;
}
