button:disabled {/* https://github.com/twbs/bootstrap/issues/16088 */
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Layout */
.application-container {
  height: 100vh;
}

/* Application elements */
#volees {
  overflow-y: auto;
  max-height: 150px;
}

#players-table {
  font-size:240%;
  text-align: center;
}

.dart-button {
  width:80%;
 font-size: 1.5rem;
}

#volees > li {
  padding-left: 0px;
}

#alert {
  font-size: 200%;
}

.room-card-footer {
  font-size: :80%;
  margin-top: -16px;
}
#jitsi-container{
  margin-bottom: 16px;
}

li >.alert{
  padding: 15px 5px 15px 5px;
}
