<span class="oi oi-trash float-left" title="bell" aria-hidden="true"></span> Le joueur <b><%= player %></b>  a fait:
<% volee.forEach((dart, i) => {%>
  <% if (i>0){ %>,
  <% } %>
  <span class="badge badge-primary"> <%= dart.combo %> × <%= scoresList[dart.numeroTape] %></span>
<% }) %>.
